header{
 
    /* height: 10vh; */
    /* width: 100%; */
    background: #ff742b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.h-image{
    height: 50px;
    width: 50px;
}
.logo-container{
    display: flex;
    align-items: center;
}
.logo-text{
    color: black;
    padding-left: 5px;
    font-size: 16px;
}
.search-container{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px 10px;
    border-radius: 20px;
    /* width: 60%; */
}
.search-icon{
    color: #1318a0 !important;
    padding-left: 20px;
}
.search-input{
    border: none;
    font-size: 16px;
    height: 42px;
    box-shadow: none;
    padding: 16px 54px;
    font-weight: 300;
    color: rgba(0,0,0,.75);
}
.search-input:focus{
    outline: none;
}
.setting-container{
    display: felx;
    flex-direction: row;
    justify-self: flex-end;
    align-items: center;
    color: black;
    margin-right: 1rem;
}
.gear-icon{
    color: black;
    /* padding-top: 8px; */
}
.setting-text{
    color: black;
    text-align: center;
    padding-left: 10px;
    /* font-size: 16px; */
}
@media (max-width:600px){
    .logo-text{
        display: none;
    }
    .search-container{
        padding: 8px;
        overflow: hidden;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 220px;
    }
.search-input{
        font-size: 13px;
        height: 30px;
        padding: 5px;
        font-weight: 300;
    }
    .setting-text{
        display: none;
    }
}