.story-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: sans-serif;
    padding: 5px 20px;
    box-shadow: 1px 1px 1px 0.5px rgb(119, 206, 243);
    margin: 0px;
    box-sizing: border-box;
}

.story-container-title{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0px;
    padding: 2px;
    flex-wrap: wrap;
}
.story-container-author{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0px;
    padding: 2px;
}
.title-url,
.points-by {
    margin: 0px;
}

.title {
    font-size: 14px;
    margin: 0px;
}

.url{
    color: #828282;
    font-size: 13px;
    text-align: left;
    padding: 0;
    /* margin-block: 0px; */
    align-self: flex-start;
    flex-wrap: wrap;
}

.url:hover {
    color: blue;
}

.bold{
    font-weight: 600;
}
@media (max-width:768px){
    .story-container-title{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: 0px;
        padding: 2px;
        flex-wrap: wrap;
    }
}